.custom-toolbar {
    background-color: #3f51b5;
    /* Color de fondo */
    color: white;
    /* Color del texto */
}

table {
    width: 100% !important;
    background-color: white !important;
    color: #333 !important;
    /* Color negro oscuro para el texto */
    margin: 0 auto;
    /* Centra la tabla horizontalmente */
    border-collapse: collapse;
    /* Opcional: elimina los espacios entre las celdas */
}

table td,
table th {
    color: #333 !important;
    /* Asegúrate de que todas las celdas tengan el color correcto */
    text-align: center;
    /* Opcional: centra el texto en las celdas */
    padding: 8px;
    /* Añade un poco de espacio dentro de las celdas */
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 50%;
    margin-right: 585px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

.centered-content {
    justify-content: center;
    /* Centers the content horizontally */
    align-items: center;
    /* Centers the content vertically */
}

.btnDelete {
    color: red;
    /* Red color for delete button */
}

.btnNuevo {
    background-color: rgb(27, 180, 27) !important;
    color: white !important;
}

.btnEdit {
    color: blue;
    /* Green color for edit button */
    margin-right: 16px;
    /* Add margin to the right of the edit button */
}